@font-face {
  font-family: 'AdventProSemiBold';
  src:url('AdventPro-SemiBold.ttf');}
@font-face {
  font-family: 'AdventProRegular';
  src:url('AdventPro-Regular.ttf');}

body {
  background-color: #2d2d2d;
  overflow-x: hidden;
}

.fontnav {
  font-family: AdventProRegular;
  font-size: 1.2em;
}
.font {
  font-family: AdventProSemiBold;
  color: #f4f2f2;
}

hr.hrbg {
  background-image: linear-gradient(to right, #435190,#435190 25%, #F3CC33);
  height: 0.35em;
  border-top: 0;
}

.navmarg {
  padding: 0.5%;
  margin: 0;
}
.logo {
  padding: 9% 0 2.5% 0;
}
.titlecal {
  padding-top: 6.5%;
  padding-bottom: 4.5%;
  font-size: 3.5em;
}
.btncal {
  padding: 5%;
  font-size: 2em;
  margin-bottom: 15%;
}
.btnspr {
  padding: 5%;
  font-size: 1.5em;
  margin-top: 3.5%;
}
.brand {
  padding-bottom: 2.5%;
  background: linear-gradient(115deg, #435190,#435190 25%, #F3CC33);
  margin-bottom: 3.5%;
}
#infos, .titlesocial, #sponsor {
  margin-bottom: 3.5%;
}

#calendar, #social {
  background-position: center;
  background-size:cover;
  padding: 5%;
}
#calendar {
  background-image: url(bgcalendar.jpg);
  margin: 5% 0 2.5% 0;
}
#social {
  background-image: url(bgsocial.jpg);
}
.social{
  font-size: 1.2em;
}
.titlespr {
  padding-top: 4.5%;
  padding-bottom: 2.5%;
  font-size: 2.5em;
}
.titlespr1 {
  padding-top: 4.5%;
  font-size: 2.5em;
}
h4 {
  padding-bottom: 1%;
}
#map {
  height: 300px;
  margin-bottom: 5%;
}
.contactid{
  font-size: 1.25em;
}
.btnfb{
  background-color: #3B5998;
  border: none;
  padding: 5%;
  margin: 7.5%;
  position: relative;
  right: 7.5%;
}
footer{
  font-size: 1.2em;
  font-family: AdventProRegular;
  color: #393939;
  padding-top: 0.75%;
}
footer .link{
  font-weight: bold;
  font-family: none;
  color: #393939;
}

@media screen and (max-width:767px) {
  .brand{
    padding-top: 12%;
    padding-bottom: 3.5%;
  }
  .join{
    font-size: 1.5em;
  }
  .section{
    margin-bottom: 12.5%;
  }
  .caption{
    text-transform: uppercase;
    font-weight: bold;
  }
  .btncal, .titlespr {
    font-size: 1.5em;
  }
  .btnspr{
    font-size: 1em;
  }
  .social{
    margin-bottom: 35%;
  }
  .btnfb{
    font-size: 0.96em;
    position: relative;
    right: 7.5%;
  }
  #contact h2{
    font-size: 2.5em;
  }
  .contactid{
    font-size: 1.5em;
  }
  .contactid>div{
    margin: 10% 0;
  }
  #contact .titlespr1{
    font-size: 2em;
  }
  #map{
    display: none;
  }
  footer{
    padding-top: 5%;
  }
}
@media screen and (min-width:768px) and (max-width:1200px) {
  .btnfb{
    position: relative;
    right: 7.5%;
  }
  .btnspr, .btncal {
    font-size: 1.25em;
  }
}
@media screen and (max-width:300px) {
  .btnfb{
    position: relative;
    right: 7.5%;
    font-size: 0.80em;
  }
  .join, .titlespr, .titlecal{
    margin: 5%;
  }
  .btncal {
    font-size: 1.25em;
  }
  .btnspr {
    font-size: 0.95em;
  }
}
